body {
    overflow-x: hidden;
}

.button {
    color: #fff;
    padding: 10px 14px;
    background-color: #30cec2;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

.m-width-385px {
    max-width: 385px !important;
}

.m-top-500px {
    margin-top: 500px !important;
}

.c-aqua {
    color: #30cec2 !important;
}

.c-white {
    color: #fff !important;
}

.b-color-1a3b43 {
    background-color: #1a3b43;
}