.button {
    color: #fff;
    padding: 10px 14px;
    background-color: #30cec2;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 1px;
}

.m-width-385px {
    max-width: 385px !important;
}