* {
  font-family: "textBold";
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  z-index: 2;
}

nav img {
  height: 50px;
  margin-left: 52px;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin-right: 40px;
}

nav li {
  padding: 10px 14px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

nav a {
  margin-right: 20px;
}

nav li:hover {
  color: #30cec2;
}

.hover-color-white:hover {
  color: white;
}

header {
  color: white;
  height: 100vh;
  max-width: 100%;
  background-image: url("../images/callback.jpg");
  background-position: center;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrap {
  max-width: 850px;
  padding-right: 60px;
}

header h1 {
  font-size: 65px;
  font-family: "displayBlack";
  max-width: 100%;
}

h1 span {
  font-family: "displayBlack";
  color: #30cec2;
}

header h2 {
  font-size: 28px;
  letter-spacing: 0.5px;
  font-family: "displayBook";
  margin-top: 20px;
}

.header__menu {
  display: none;
}

.background-navy {
  background-color: #1a3b43;
}

@media screen and (max-width: 1023px) {
  nav {
    width: 100%;
  }

  nav ul {
    display: none;
  }

  nav img {
    margin-left: 20px;
  }

  .header__menu {
    margin-right: 20px;
    display: inline-block;
  }

  .header__menu span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background: #fff;
    border-radius: 1px;
  }
}

@media screen and (max-width: 915px) {
  header h1 {
    font-size: 55px;
    width: 800px;
  }

  .header__wrap {
    padding-right: 0;
    padding-left: 40px;
  }
}

@media screen and (max-width: 840px) {
  .header__wrap {
    padding-left: 0px;
    width: 95%;
  }
}

@media screen and (max-width: 788px) {
  header h1 {
    font-size: 45px;
    width: 600px;
  }

  .header__wrap {
    margin-left: 10vw;
  }
}

@media screen and (max-width: 665px) {
  header h1 {
    width: 80%;
  }
}
