.schedule__wrapper{
  border-top: 14px solid #30cec2; 
  -webkit-box-shadow: inset 0px 131px 24px -120px rgba(48,206,193,0.25);
  -moz-box-shadow: inset 0px 131px 24px -120px rgba(48,206,193,0.25);
  box-shadow: inset 0px 131px 24px -120px rgba(48,206,193,0.25);
  background-color: white;
}

.schedule__content{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.schedule__title{
  color: #1a3b43;
}

.schedule__description{
  max-width: 45%;
  text-align: center;
}

.schedule__button__wrapper{
  display: flex;
  flex-wrap: wrap;
  border-radius: 7px;
  border: 2px solid #30cec2;
  overflow: hidden;
  background-color: #30cec2;
}

.schedule__button{
  background-color: #30cec2;
  border: none;
  color: white;
  padding: 15px 30px;
}

.schedule__button-alt{
  background-color: white;
  color: #30cec2;
}

.schedule__button-alt .schedule__button__date{
  color: initial;
}

.schedule__list{
  width: 50%;
  list-style: none;
}

.schedule__item{
  padding: 20px 0;
  width: 100%;
  border-bottom: solid 1px lightgrey;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-height: 100px;
}

.schedule__item__description{
  display: flex;
  flex-direction: column;
}

.schedule__item__description__time{
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.schedule__icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  color: #193b44;
}

.schedule__category{
  border: none;
  padding: 2px 5px;
  margin: 0 5px;
  background-color: #203c44;
  color: white;
  text-align: center;
  vertical-align: center;
}

.category-dev{
  background-color: #a2d29f;
}

.category-design{
  background-color: #e25e5f;
}

.schedule__item__logo{
  max-width: 140px;
  max-height:70px;
  vertical-align: center;
}

.schedule__item a{
  text-decoration: none;
  color: inherit;
}

.schedule__item a:hover{
  color: #30cec2;
}